body{background: skyblue; font-family: verdana; color: black; padding: 30px;}
            h1{font-size: 48px; text-align:center; text-transform: uppercase; letter-spacing: 2px;}
            p{font-size: 16px; text-align: center;}