<html>
    <head>
        <style>
            body{background: skyblue; font-family: verdana; color: black; padding: 30px;}
            h1{font-size: 48px; text-align:center; text-transform: uppercase; letter-spacing: 2px;}
            p{font-size: 16px; text-align: center;}
        </style>
        <body>
            <%- include ('partials/nav.ejs'); %>
            <h1>Welcome to node js tutorial. This is a contact page</h1>
            <p>You contacted <%= data.who %> in the <%= data.department %> department</p>
            <p>We will reply at <%=data.email %></p>


        </body>

    </head>

</html>