<html>
    <head>
        <style>
            body{background: skyblue; font-family: verdana; color: black; padding: 30px;}
            h1{font-size: 48px; text-align:center; text-transform: uppercase; letter-spacing: 2px;}
            p{font-size: 16px; text-align: center;}
        </style>
        <body>
            <%- include ('partials/nav.ejs'); %>
            <h1>Welcome to node js tutorial. This is a contact page</h1>
            <p><%= qs.dept %></p>

            <form id = "contact-form" method="POST" action="/contact">
                <label for="who">Who do you want to contact</label>
                <input type = "text" name = "who" value="<%= qs.person %>">
                <label for="department">Which department</label>
                <input type = "text" name = "department" value="<%= qs.dept %>">
                <label for="email">Your email</label>
                <input type = "email" name = "email">
                <input type = "submit" value = "submit">

            </form>


        </body>

    </head>

</html>