<html>
    <head>
        <link href = "/assets/style.css", rel = "stylesheet", type = "text/css" />
        <body>
            <%- include ('partials/nav.ejs'); %>
            <h1>Welcome to node js tutorial</h1>
        </body>

    </head>

</html>