<html>
    <head>
        <style>
            body{background: skyblue; font-family: verdana; color: black; padding: 30px;}
            h1{font-size: 48px; text-align:center; text-transform: uppercase; letter-spacing: 2px;}
            h2{font-size: 36px; text-align:center; text-transform: uppercase; letter-spacing: 2px;}
            p, li{font-size: 16px; text-align: center;}
        </style>
        <body>
            <%- include ('partials/nav.ejs'); %>
            <h1>Welcome <%= person %>. This is a profile ejs page</h1>
            <p><strong>Age: </strong><%= data.age%></p>
            <p><strong>Job: </strong><%= data.job%></p>
            <h2>Hobbies:</h2>
            <ul>
                <% data.hobbies.forEach(function(item) { %>
                    <li>
                        <%= item %>
                    </li>
                <% }); %>
            </ul>
        </body>

    </head>

</html>